* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Open Sans";
}

/* Preloader */

#preloader {
    background-color: rgba(59, 67, 76);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .35s ease;
}

.dot {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border: 4px solid white;
    border-radius: 50%;
    animation: show-hide 1s ease infinite;
}

.dot:nth-child(2) {
    animation-delay: 300ms;
}

.dot:nth-child(3) {
    animation-delay: 600ms;
}

@keyframes show-hide {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 0;
    }
}

#preloader.preloader-hiding {
    opacity: 0;
}

#preloader.preloader-hidden {
    display: none;
}


/* FIRST PAGE - INTRO */

header {
    height: 80vh;
    position: relative;
    background: url(img/Backgroud-header.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro {
    background-color: rgba(59, 67, 76, 0.9);
    height: 100%;
    position: relative;
}

.logo {
    position: absolute;
    right: 20px;
    top: 33px;
}

.intro .container,
.job .container,
.newsletter .container,
.our-works .container,
.opinion .container,
.our-team .container,
.footer .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* Description */

.description {
    text-align: center;
}

.description h1 {
    color: #ffffff;
    font-size: 29px;
    font-weight: 800;
    margin-bottom: 20px;
}

.description h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    color: #3b434c;
    padding: 30px;
}

.description span {
    color: #f7600e;
}

.description p {
    color: #ffffff;
    font-size: 16px;
}

.intro .description {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navigation */

.b-a,
.bar,
.bar:before,
.bar:after {
    transition: all 0.25s;
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    border-radius: 15px;
    background-color: #f7600e
}

.menu-collapsed {
    transition: all 0.25s;
    position: fixed;
    top: 10px;
    left: 9px;
    height: 36px;
    width: 36px;
    z-index: 1;
    cursor: pointer;
}

.menu-collapsed ul {
    transition: all 0s;
    position: fixed;
    left: -9000px;
}

.bar {
    position: fixed;
    left: 20px;
    top: 40px;
}

.bar:before {
    top: -8px;
}

.bar:after {
    top: 8px;
}

.b-a-expanded,
.menu-expanded .bar:before,
.menu-expanded .bar:after {
    transition: all 0.25s;
    top: -0px;
}

.menu-expanded {
    transition: all 0.25s;
    text-align: center;
    line-height: 80px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
}

.menu-expanded ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
    top: 50px;
}

.menu-expanded a {
    transition: all 0.15s;
    text-decoration: none;
    font-size: 2em;
    padding: 5px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.menu-expanded .bar {
    background-color: transparent;
    transition: all 0.25s;
}

.menu-expanded .bar:before {
    transform: rotate(45deg);
}

.menu-expanded .bar:after {
    transform: rotate(-45deg);
}

/* Button */

.buttons {
    position: absolute;
    bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around
}

.btn-1 {
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #f7600e;
    color: white;
}

.btn-2,
.btn-3 {
    width: 130px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-3 {
    display: block;
    margin: 0 auto 40px auto;
    color: black;
    border: 1px solid #3b434c;
}

/* Arrow */

.arrow {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* SECOND PAGE - JOB */

.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 60px 0;
}

.product h2 {
    margin: 20px auto;
    font-size: 16px;
    color: #3b434c;
    font-size: 16px;
    line-height: 40px;
}

.product p {
    width: 158px;
    height: 66px;
    color: #3b434c;
    font-size: 14px;
    line-height: 26px;
    margin: 0 auto;
}

/* THIRD PAGE - NEWSLETTER */

.newsletter {
    height: 250px;
    background: url(img/tablet.png);
    background-position: -920px;
    background-size: cover;
    background-repeat: no-repeat;
}

.newsletter-container {
    height: 100%;
    position: relative;
    background-color: rgba(59, 67, 76, 0.9);
}

.newsletter-container form {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newsletter-container input,
.footer-container input,
textarea {
    width: 93%;
    height: 50px;
    text-align: center;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
}

/* FOURTH PAGE - OUR WORKS */

.card {
    width: 250px;
    height: 250px;
    margin: 30px auto;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}

.card:hover:before {
    opacity: 1;
}

.card:hover .info {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: 0.5s;
    text-align: center;
    font-family: "Open Sans";
}

.card .info h2 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 10px;
    margin: 25px 0;
}

.card .info button {
    padding: 0.6rem;
    outline: none;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 5px;
}

.card .info button:hover {
    color: #f7600e;
}

/* FIFTH PAGE - OPINION */

.opinion {
    background: url(img/woman-690036.png);
    background-position: -900px;
    background-size: cover;
    background-repeat: no-repeat;
}

.opinion-container {
    height: 100%;
    background-color: rgba(59, 67, 76, 0.9);
    padding: 20px 0;
}

.opinion img {
    display: block;
    margin: 0 auto;
    padding: 30px;
}

.opinion .description h2 {
    font-style: italic;
    color: white;
    font-size: 25px;
}

.opinion .description {
    font-size: 18px;
}

/* SIXTH PAGE - OUR TEAM */

.our-works .description p,
.our-team .description p {
    color: black;
}

.icons picture {
    display: flex;
    justify-content: space-around;
}

.our-team {
    margin-bottom: 30px;
}

/* SEVENTH PAGE - SAY HELLO */

footer {
    background: url(img/city-937541.png);
    background-size: cover;
    background-position: center;
}

.footer-container {
    background-color: rgba(59, 67, 76, 0.9);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
}

.footer h2 {
    color: white;
}

.footer textarea {
    height: 200px;
}

.footer picture {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

}

.design {
    height: 120px;
    background-color: #3b434c;
}

.design p {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 60px
}

/* MOBILE */

/* LANDSCAPE LOOK */

@media (orientation: landscape) {

    /* Buttons */

    .buttons .btn-1,
    .buttons .btn-2 {
        position: relative;
        bottom: -50px;
    }

    /* SECOND PAGE - JOB and FOURTH PAGE - OUR WORKS and SIXTH PAGE - OUR TEAM*/

    .job .container,
    .our-works .wrapper,
    .our-team .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product {
        margin: 40px;
        padding-bottom: 30px;
    }

    /* Navigation */

    .menu-expanded {
        line-height: 50px;
    }

    .menu-expanded a {
        font-size: 1.5em;
    }
}

@media (min-width: 900px) and (orientation: landscape) {
    .menu-expanded {
        line-height: 80px;
    }

    .menu-expanded a {
        font-size: 2em;
    }
}

@media (max-width: 600px) and (orientation: landscape) {

    /* Buttons */

    .buttons .btn-1,
    .buttons .btn-2 {
        bottom: -60px;
    }

    /* Navigation */

    .menu-expanded {
        line-height: 40px;
    }

    .menu-expanded a {
        font-size: 1em;
    }


    /* SECOND PAGE - JOB */

    .product {
        margin: 20px 0;
    }

    /* FOURTH PAGE - OUR WORKS */

    .our-works .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* FOURTH PAGE - OUR WORKS and SIXTH PAGE - OUR TEAM */

    .card {
        width: 200px;
    }
}


/* PORTRAIT LOOK */

@media (min-width: 766px) and (orientation: portrait) {
    /* Description */

    .description h1 {
        font-size: 60px;
    }

    .description p {
        font-size: 25px;
    }

    .description h2 {
        font-size: 35px;
    }

    /* Buttons */

    .buttons {
        bottom: 27.5%;
    }

    .btn-1,
    .btn-2,
    .btn-3 {
        width: 210px;
        height: 50px;
    }

    /* SECOND PAGE - JOB and FOURTH PAGE - OUR WORKS and SIXTH PAGE - OUR TEAM */

    .job .container,
    .our-works .wrapper,
    .our-team .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        margin: 20px;
    }

    .product {
        margin: 50px;
    }

    .newsletter form {
        display: flex;
    }

    .newsletter .btn-1 {
        margin: 20px;
        width: 269px;
        height: 50px;
    }
}

/* DESKTOP */

@media (min-width: 1025px) {
    .description h1 {
        font-size: 70px;
    }

    .description p {
        font-size: 25px;
    }

    .menu-expanded a:hover {
        color: #f7600e;
    }

    .btn-1,
    .btn-2,
    .btn-3 {
        width: 210px;
        height: 50px;
        transition: 0.5s;
    }

    .btn-1:hover,
    .btn-3:hover,
    .btn-2:hover {
        color: black;
        cursor: pointer;
    }

    .our-works .btn-3:hover {
        color: white;
        background-color: #f7600e;
        border: none;
    }

    .btn-2:hover {
        background-color: #f7600e;
        border: none;
    }



    .product {
        margin: 20px;
    }

    .our-works .container {
        width: 100%;
    }


    .our-works .wrapper,
    .our-team .wrapper {
        justify-content: center;
    }

    .card {
        margin: 20px;
    }

    .newsletter form {
        display: flex;
    }

    .newsletter .btn-1 {
        margin: 20px;
        width: 269px;
        height: 50px;
    }

    .footer-container form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-container input {
        width: 45%;
        height: 50px;
        margin: 20px;
    }

    .footer .btn-1 {
        width: 210px;
        height: 50px;
    }

    .footer picture {
        justify-content: flex-end;
    }

    .footer picture img {
        margin: 0 10px;
    }

}